.container {
  margin: 0 auto;
  width: 90%;
  max-width: 112rem;
  height: 100%;
  min-height: 95vh;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.add_form,
.add_form__item {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  justify-self: center;
  position: relative;
}

input {
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

.card {
  display: flex;
  width: 40%;
  max-width: 90%;
  border: 0.2rem solid #bbb;
  padding: 2rem;
  flex-wrap: nowrap;
  line-height: 2.4rem;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.card div + div {
  margin-left: 2rem;
}

.card__img {
  width: 100%;
}

.card__img img {
  height: 100%;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal_form {
  /* position: absolute; */
  padding: 2rem;
  border: 1px solid red;
}

.btn {
  width: 20%;
}

.res {
  padding: 2rem 0;
  margin-bottom: 0.5rem;
}

.tracker {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.tracker li + li {
  margin-left: 2rem;
}

.tracker li {
  font-weight: 700;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.active {
  background-color: #f76707;
  color: #fff;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  width: 40%;
  line-height: 2.4rem;
  text-align: justify;
  padding: 0.8rem;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.8);
  /* justify-content: center; */
}

.profile {
  width: 100%;
  /* text-align: center; */
}

.profile_time {
  align-self: first baseline;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 0.8rem 0;
}

.food_gallery {
  display: grid;
  /* flex-direction: grid; */
  /* width: 20%; */
  /* height: 10%; */
  /* align-content: stretch; */
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 1rem;
}

.food_item {
  display: flex;
  border: 1px solid red;
  margin-bottom: 2rem;
  /* gap: 2rem; */
  justify-content: space-between;
  line-height: 3rem;
}

.food_info {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  /* flex-grow: 2; */
  /* text-wrap: nowrap; */
}

.food_thumbnail {
  width: 25%;
  flex-grow: 2;
}
.food_thumbnail img {
  width: 100%;
  height: 100%;
}
.food_desc {
  width: 100%;
  flex-wrap: nowrap;
  padding: 0 1.2rem;
}

.food_name {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}

.ctrl_btn {
  background-color: none;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  align-self: self-end;
}

.ctrls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
